
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/template-material/build/css/custom.min.css" rel="stylesheet">
<h2>Welcome, @ViewBag.FullName</h2>
<div>What does the fox say?</div>

