
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/Content/assets/bootstrap-3.3.5/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome-4.6.3/css/font-awesome.min.css">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/css/resetpassword.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box" style="width: 30%">


        <div class="register-box-body">
            <div class="register-logo">
                @*                <a href="../../index2.html">RTB System</a>*@
            </div>
            <p class="register-box-msg">To reset your password, enter the email address you use to sign in to RTB System</p>

            <form method="post">

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

            </form>

            <div class="social-auth-links text-center">
                <button class="btn btn-success full" type="button" onclick="resetPassword()">Send password to my email</button>
            </div>

            <a href="@Url.Action("Login","Account",new {area = string.Empty})" class="text-center">Login</a><br />
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        function resetPassword() {
            var email = $('#email').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ResetPass")',
                data: { email: email },
                success: function (result) {
                    if (result.success) {
                        alert("New password has been sent to your email. Please check your email.");
                        window.location.href = '@Url.Action("Login","Account",new {area = string.Empty})';
                    } else {
                        alert('Your email is not exist!!!!');
                    }
                },
                error: function (error) {
                    alert("@Resources.Message_EN_Resources.ErrorOccured");
                }
            });
        }
    </script>

</body>

</html>
