<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wiskycms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wiskycms.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wiskycms</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wiskycms</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=wisky.database.windows.net;Initial Catalog=Wisky-New-27052016;User ID=wisky;Password=Rubikcub3##;Application Name=EntityFramework" Name="Data Source=wisky.database.windows.net;Initial Catalog=Wisky-New-27052016;User ID=wisky;Password=Rubikcub3##;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Wisky.Models.ApplicationDbContext, Wisky" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WiSkyEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=wisky.database.windows.net;Initial Catalog=Wisky-New-27052016;User ID=wisky;Password=Rubikcub3##;Application Name=EntityFramework" Name="Data Source=wisky.database.windows.net;Initial Catalog=Wisky-New-27052016;User ID=wisky;Password=Rubikcub3##;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Wisky.Data.Models.Entities.WiSkyEntities, Wisky.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityConnection-Web.config Connection String">
      <ParameterValue>Data Source=wisky.database.windows.net;Initial Catalog=Wisky-New-27052016;User ID=wisky;Password=Rubikcub3##;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WiSkyEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Entities.WiSkyEntities.csdl|res://*/Models.Entities.WiSkyEntities.ssdl|res://*/Models.Entities.WiSkyEntities.msl;provider=System.Data.SqlClient;provider connection string="Data Source=wisky.database.windows.net;Initial Catalog=Wisky-New-27052016;User ID=wisky;Password=Rubikcub3##;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>